<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
        integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous" />
    <link rel="stylesheet" href="../Css/footer.css">
    <link rel="stylesheet" href="../Css/longvh2003.css">
</head>

<body>
    <footer>
        <div class="container">
            <div class="padding-4">
                <div class="row">
                    <div class="col-lg-3">
                        <div>About Us</div>
                        <div>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</div>
                        <div class="row pt-4 pb-4">
                            <div class="text-white bg-primary footer-icon circle mr-2"><i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="text-white bg-primary footer-icon circle mr-2"><i class="fab fa-instagram"></i>
                            </div>
                            <div class="text-white bg-primary footer-icon circle mr-2"><i class="fab fa-twitter"></i>
                            </div>
                            <div class="text-white bg-primary footer-icon circle mr-2"><i class="fab fa-linkedin-in"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-3">
                                <p>Quick Links</p>
                                <div><a href="#">About Us</a></div>
                                <div><a href="#">Testimonials</a></div>
                                <div><a href="#">Terms of Service</a></div>
                                <div><a href="#">Privacy</a></div>
                                <div><a href="#">Contact Us</a></div>
                            </div>
                            <div class="col-3">
                                <p>Resources</p>
                                <div><a href="#">About Us</a></div>
                                <div><a href="#">Testimonials</a></div>
                                <div><a href="#">Terms of Service</a></div>
                                <div><a href="#">Privacy</a></div>
                                <div><a href="#">Contact Us</a></div>
                            </div>
                            <div class="col-3">
                                <p>Support</p>
                                <div><a href="#">About Us</a></div>
                                <div><a href="#">Testimonials</a></div>
                                <div><a href="#">Terms of Service</a></div>
                                <div><a href="#">Privacy</a></div>
                                <div><a href="#">Contact Us</a></div>
                            </div>
                            <div class="col-3">
                                <p>Company</p>
                                <div><a href="#">About Us</a></div>
                                <div><a href="#">Testimonials</a></div>
                                <div><a href="#">Terms of Service</a></div>
                                <div><a href="#">Privacy</a></div>
                                <div><a href="#">Contact Us</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padding-4 text-center pt-0">
                Copyright ©2020 All rights reserved
            </div>
        </div>
    </footer>
</body>

</html>